
@{
    ViewBag.Title = "ReviewActivity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block block-rounded">
    <div class="block-header">
        <h2 class="block-title">Review Activity</h2>
    </div>
    <div class="block-content block-content-full">

        <div class="box bg-white shadow p-4 mt-4 rounded">
            <table id="table-layer-group" class="table table-striped table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Activity</th>
                        <th>Catatan</th>
                        <th>App</th>
                        <th>Ver</th>
                        <th>PIC</th>
                        <th>Step</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- END Inline -->

@section scripts {
    <script>
        let tableLocation

        $(document).ready(function () {
            tableLocation = $('#table-layer-group').DataTable({
                ajax: '/Activity/GetReviewActivity',
                dataSrc: 'data',
                scrollY: '48vh',
                order: [[0, 'desc']],
                columns: [                    
                    {
                        mData: 'START_DATETIME',
                        render: function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                if (data) {
                                    var date = new Date(parseInt(data.substr(6)));
                                    return date.toLocaleString('id-ID', {
                                        day: '2-digit',
                                        month: '2-digit',
                                        year: 'numeric',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        second: '2-digit'
                                    });
                                }
                            }
                            return data;
                        }
                    },
                    {
                        mData: 'END_DATETIME',
                        render: function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                if (data) {
                                    var date = new Date(parseInt(data.substr(6)));
                                    return date.toLocaleString('id-ID', {
                                        day: '2-digit',
                                        month: '2-digit',
                                        year: 'numeric',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        second: '2-digit'
                                    });
                                }
                            }
                            return data;
                        }
                    },
                    {
                        mData: 'ACTIVITY_DETAIL',
                    },
                    {
                        mData: 'REMARKS',
                    },
                    {
                        mData: 'APP_NAME',
                    },
                    {
                        mData: 'VERSION',
                    },
                    {
                        mData: 'PIC_NAME',
                    },
                    {
                        mData: 'STEP_NAME',
                    },

                ],

            })
        });

    </script>
}
