
@{
    ViewBag.Title = "Report";
}

<div class="block block-rounded">
    <div class="block-header">
        <h2 class="block-title">Dashboard Activites</h2>
    </div>

    <div id="frm_input">
        <div class="panel-body">
            <iframe src="@ViewBag.reportPath" width="100%" height="720px"></iframe>
        </div>
    </div>

</div>

