@{
    ViewBag.Title = "Master Step";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" class="form-control" id="txtStepEdit" name="txtStepEdit">

<!-- Inline -->
<div class="block block-rounded">
    <div class="block-header">
        <h2 class="block-title">Master Step</h2>
    </div>
    <div class="block-content block-content-full">
        <div class="row">
            <div class="col-lg-8 space-y-2">
                <!-- Form Inline - Default Style -->
                <form class="row row-cols-8 g-3 align-items-center" method="POST">
                    <div class="col-8">
                        <input type="text" class="form-control " id="txtStep" name="txtStep" placeholder="Tambah Step Baru!">
                    </div>
                    <div>
                        <button type="button" id="btnDynamic" onclick="simpanDoc()" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
                <!-- END Form Inline - Default Style -->
            </div>
        </div>

        <div class="box bg-white shadow p-4 mt-4 rounded table-responsive">
            <div id="customSearchContainer"></div>
            <table id="table-layer-group" class="table table-striped table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>Action</th>
                        <th>Step</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- END Inline -->

@section scripts {
    <script>
        let tableLocation

        $(document).ready(function () {
            tableLocation = $('#table-layer-group').DataTable({
                ajax: '/Master/getMasterStep',
                dataSrc: 'data',
                scrollY: '48vh',
                columns: [
                    {
                        mData: 'STEP_ID',
                        mRender: function (data, type, row) {
                            return `<div class="action-buttons">
                                <a onclick="handleEdit('${data}')" style="text-decoration: none">
                                    <button class="btn btn-warning"><i class="fa-solid fa-pen text-light"></i></button>
                                </a>

                                <a onclick="handleDelete('${data}')" style="text-decoration: none">
                                    <button class="btn btn-danger action-button"><i class="fa-solid fa-trash text-light"></i></button>
                                </a>
                            </div>`
                        },
                        width: '200px',
                    },
                    {
                        mData: 'NAME',
                    },
                ],

                "pagingType": "numbers",
            })

            $(".dataTables_filter").appendTo("#customSearchContainer");
        });

        function handleDelete(id) {
            Swal.fire({
                title: 'Apakah kamu yakin?',
                text: 'Data akan dihapus ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, Hapus!',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: `/Master/DeleteStep?id=${id}`,
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (response) {

                            if (response.Status === true) {
                                tableLocation.ajax.reload()
                                Swal.fire(
                                    'Deleted!',
                                    'Data berhasil dihapus.',
                                    'success'
                                )
                            } else {
                                Swal.fire(
                                    'Error!',
                                    response.Message,
                                    'error'
                                )
                            }
                        },
                    })
                }
            })
        }

        function handleEdit(id) {
            $("#txtStepEdit").val(id)

            $.ajax({
                type: 'GET',
                url: `/Master/getDetailStep?id=` + id,
                dataType: 'json',
                success: function (response) {
                    if (response.Status) {
                        $("#txtStep").val(response.data.NAME)
                        $("#btnDynamic").text("Update")
                    } else {
                        window.location.reload();
                    }
                },
            })

        }

        function simpanDoc() {
            var txtButton = $("#btnDynamic").text()

            if (txtButton == "Update") {

                var idDoc = $("#txtStepEdit").val()
                var typeDoc = $("#txtStep").val()

                var obj = {
                    ID_STEP: idDoc,
                    NAME_STEP: typeDoc
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Master/UpdateStep",
                    data: JSON.stringify(obj),
                    success: function (response) {
                        if (response.Status == true) {

                            Swal.fire(
                                'Success!',
                                'Data berhasil di Update.',
                                'success'
                            )

                            $("#txtStep").val("")
                            $("#btnDynamic").text("Simpan")
                            tableLocation.ajax.reload();

                        } else {

                            Swal.fire(
                                'Error!',
                                response.Message,
                                'error'
                            )
                        }
                    }
                });
            }

            else if (txtButton == "Simpan") {

                var typeDoc = $("#txtStep").val()

                var obj = {
                    NAME_STEP: typeDoc,
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Master/simpanStep",
                    data: JSON.stringify(obj),
                    success: function (response) {
                        if (response.Status == true) {

                            Swal.fire(
                                'Success!',
                                'Data berhasil di Simpan.',
                                'success'
                            )

                            $("#txtStep").val("")
                            $("#btnDynamic").text("Simpan")
                            tableLocation.ajax.reload();

                        } else {

                            Swal.fire(
                                'Error!',
                                response.Message,
                                'error'
                            )
                        }
                    }
                });
            }

        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            },
        })


    </script>
}